<footer class="bg-light text-center text-muted py-3 mt-5 border-top">
    <div>
        <strong>Janet & Mark L. Goldenson Center for Actuarial Research at the University of Connecticut (UConn)</strong>
    </div>
    <div>
        Director: Jay Vadiveloo, PhD, FSA, MAAA, CFA<br>
        <a href="mailto:jeyaraj.vadiveloo@uconn.edu">jeyaraj.vadiveloo@uconn.edu</a>
    </div>
    <div class="mt-2">
        <a href="{{ url_for('root') }}">Home: List of Goldenson Center Application Demos</a>
    </div>
</footer>